html {
    background-color: #ffffff;
}

:root {
    --green: #ffffff; 
}

body {
    margin-left: 0px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.vertical-menu {
    height: 100%;
    width: 200px; 
    background-color: #111;
    z-index: 1;
    position: fixed;
    padding-top: 20px;
}
  
.vertical-menu a {
    background-color: #111;
    color: var(--green);
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
  
.vertical-menu a:hover {
    background-color: var(--green);
    color: #111;
}
  
.main{
    margin-left: 200px;
    margin-right: 0px;
    padding: 30px;
    font-size: 22px;
}

.row{
    display: flex;
    margin: 20px;
    border: 1px solid rgb(240, 240, 240);
    overflow: hidden;
    border-radius: 20px;
    border-width: thick;
}

.editor_column{
    flex:  1 1 0px;
    padding: 20px;
    font-size: 17px;
    overflow: auto;
}

.output_column{
    flex: 1 1 0px;
    padding: 20px;
    font-size: 17px;
    background-color: rgb(240, 240, 240);
    overflow: auto;
}

.code_font{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.buttons{
    padding: 7px 10px 7px 10px;
    background-color: #bebebe;
    color: #252525;
    border-radius: 8px;
    border: 1px solid var(--green);
    font-size: 15px;
    cursor: pointer;
  }

.buttons:hover{
 /*color: #c2d94c;*/
 color: #FFFFFF;
 background-color: #111;
}

.code_space{
    padding: 10px;
    background-color: #f5f4f4;
    border-radius: 11px;
    font-family: Courier;
    color: black;
    font-size: 17px;
}

.center_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.description{
    display: flex;
    padding: 10px;
    background-color: #111;
    color: var(--green);
    border-radius: 10px 10px 10px 10px;
}

.sub_description {
    flex: 1;
    background-color: #262626;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    background-size: 250px 250px;
    overflow: hidden;
}

#road {
    height: 0px;
    overflow: hidden;
    transition: height .2s ease-out;
}

#road.active {
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}

#roadTwo {
    height: 0px;
    overflow: hidden;
    transition: height .2s ease-out;
}
  
#roadTwo.active {
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}

#roadThree {
    height: 0px;
    overflow: hidden;
    transition: height .2s ease-out;
}
  
#roadThree.active {
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}

.output_result{
    height: 15%; 
    background-color: white; 
    border-radius:20px; 
    padding: 20px;
} 